h1{
text-align: center;
}

.searchBar {
  text-align: center;
}

.login{
  text-align: center;
}

.inputText{
  width: 800px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.signup {
  text-align: center;
}
.firstName {
  width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.userName{
  width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.email{
  width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.password {
  width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.phone {
  width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.feed {
width: 222px;
height: 220px;
margin: auto;
text-align: center;
display: inline-block;
}

.userSide {
margin: auto;
text-align: center;
display: inline-block;
}

.restSide {
margin: auto;
text-align: center;
display: inline-block;
/* background-color: rgb(229, 239, 201); */
}

.EarnMonth {
margin: auto;
text-align: center;
display: inline-block;
}

.centerBtn {
  text-align: center;
  border: 'red';
}

.RedeemMonth {
margin: auto;
text-align: center;
display: inline-block;
/* background-color: rgb(229, 239, 201); */
}


.home {
  background-color: #AF473C;
  margin-top: -15px;
  margin-bottom: 1000px;
}

/* .offerTitle {
  margin: auto;
  text-align: center;
  /* display: inline-block; */



.title {
  padding-top: 100px;
  padding-bottom: 90px;
}

.coupon {
  height: 25px;
  width: 25px;
  padding-left: 41px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.searchBar {
  padding-bottom: 200px;
}

.navContent1{
  margin-top: 20px;
}

.restSignUp1 {
  width: 650px;
  text-align: center;
  display: inline-block;
  padding-left: 400px;
}
.restSignUp2 {
  width: 250px;
  text-align: center;
  display: inline-block;
}

.pieChart1 {
  margin-top: -340px;
  margin-bottom: 50px;
}

.pieChart2 {
  margin-top: -350px;
  margin-bottom: 200px;
  margin-left: 550px;
}

.rateTxt1 {
  margin-left: 505px;
  margin-bottom: -100px;
  margin-top: 100px;
}

.rateTxt2 {
  margin-left: 790px;
  margin-bottom: -100px;
  margin-top: 100px;
}

.rate1 {
  margin-left: 542px;
  margin-bottom: -150px;
  margin-top: 100px;
}

.rate2 {
  margin-left: 820px;
  margin-top: 100px;
  margin-bottom: -100px;
}

.restOfferCard {
  margin-bottom: 300px;
  background-color: green;
}

.sideNav {
  height: fixed;
  margin-top: -2000px;
  background-color: red;
}
.pusher {
  margin-top: -300px;
}

.welcomeBack {
  margin-top: 200px;
}
